#space-right {
    padding-right: .4em;
}

#head-navbar {
    grid-area: nav;
    background-color: #EA4343;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .55em;
    padding-left: 2.5em;
    padding-right: 2em;
}

#main {
    overflow: auto;
    grid-area: main;
    padding: 30px;
    padding-left: 60px;
}

#post-container {
    margin: 0;
    padding: 0;
}

#post {
    background-color: #DDDDDD;
    box-shadow: 2px 2px 5px #ABABAB;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: auto 1em;
    grid-template-areas: "content content" "break break" "author timecode";
    height: auto;
}

#post-author {
    grid-area: author;
}

#post-content {
    grid-area: content;
}

#post-break {
    grid-area: break;
}

#post-timecode {
    grid-area: timecode;
    text-align: right;
}

#artist-bar {
    grid-area: sidebar;
    background-color: whitesmoke;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-area: footer;
    color: #FFFFFF;
    background-color: #2D2D2D;
    align-items: center;
}

#artist-list {
    display: flex;
    height: 88%;
    flex-direction: column;
    justify-content: start;
    overflow: clip;
}

#artist {
    display: flex;
    flex-direction: row;
    transition: 1s;
    padding-right: 20px;
    align-items: center;
    height: 4em;
    border-radius: 10px;
}

#artist:hover {
    background-color: #E0E0E0;
    transition: 1s;
}

#artist-name {
    font-size: 18px;
    padding-left: 10px;
}

#artist-list input[type="text"] {
    height: 2em;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
    font-size: 18px;
    background-color: white;
    background-image: url(./resources/searchicon.png);
    background-position: 5px 5px;
    padding-left: 33px;
    background-repeat: no-repeat;
}

#main .moving-button:hover {
    left: 0;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 2px 5px #ABABAB;
}

#main-page {
    top: 100px;
    background-color: #EA4343;
}

#community-page {
    top: 160px;
    background-color: #2D2D2D;
}

#new-post {
    position: absolute;
    top: 600px;
    left: -5px;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #2D2D2D;
    border-radius: 0 5px 5px 0;
}

#closeWinButton {
    padding-left: 15px;
    font-size: 21px;
    color: #2D2D2D;
    align-content: center;
}

#log-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5em;
    text-decoration: none;
    color: #2D2D2D;
}